@import url(https://fonts.googleapis.com/css?family=Lora);

body {
  color: #545E6C;
  background: #ccc;
  font-size: 14px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none; 
  margin: 0 auto;
}
a {
  text-decoration: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
}
i {
  margin-right: 10px;
}

nav {
  display: block;
  width: 660px;
  margin: 0 auto 30px;

.menu ul {
  background: #D4E7EE;
  overflow: hidden;
  padding: 0;
}

.menu li {
  float: left;
}

.menu a {
  display: block;
  padding: 1em;
  border-right: 1px solid #ADC0CE;
  background: rgba(173, 192, 206, .3);
  color: #29838C;
}

.menu a:hover {
  background: #ADC0CE
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  color: #2d7788;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

a:hover {
  text-decoration: underline;
  color: #1a454f;
}

a:focus {
  text-decoration: none;
}

a.knopka {
  color: #fff;
  text-decoration: none;
  user-select: none;
  position: relative;
  right: 20px;
  opacity: .3 background: rgb(52, 148, 121);
  padding: .7em 1.5em;
  outline: none;
  border-radius: 7px;
}

a.knopka:hover {
  background: rgb(150, 200, 175);
}

a.knopka:active {
  background: rgb(150, 200, 175);
}

p {
  line-height: 1.5;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #ccc;
  padding: 0;
  margin: 0;
}